@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
/* line 5, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/compass-core/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 13, ../scss/_grid.scss */
.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px; }
  /* line 12, ../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
  .wrapper::after {
    content: " ";
    display: block;
    clear: both; }

/* line 20, ../scss/_grid.scss */
.section:before,
.section:after,
.row:before,
.row:after,
.row-flat:before,
.row-flat:after {
  display: table;
  content: " "; }

/* line 30, ../scss/_grid.scss */
.section:after,
.row:after,
.row-flat {
  clear: both; }

/* line 36, ../scss/_grid.scss */
.section {
  clear: both; }

/* line 41, ../scss/_grid.scss */
body .section:last-child {
  padding-bottom: 90px; }

/* line 45, ../scss/_grid.scss */
.row {
  margin-bottom: 20px; }

/* line 49, ../scss/_grid.scss */
.row:last-child {
  margin-bottom: 0; }

/* line 55, ../scss/_grid.scss */
.col {
  margin-bottom: 20px; }

/* line 61, ../scss/_grid.scss */
.red {
  background: red; }

/* line 65, ../scss/_grid.scss */
.blue {
  background: blue; }

/* line 69, ../scss/_grid.scss */
.green {
  background: green; }

@media only screen and (min-width: 768px) {
  /* line 77, ../scss/_grid.scss */
  .col2 {
    width: 49.15254%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0; }

  /* line 82, ../scss/_grid.scss */
  .col3 {
    width: 32.20339%;
    float: left;
    margin-right: 1.69492%;
    margin-bottom: 0; }

  /* line 87, ../scss/_grid.scss */
  .col:last-child {
    margin-right: 0; } }
/* line 94, ../scss/_grid.scss */
.one-half,
.one-third,
.two-third,
.one-fourth,
.three-fourth,
.one-fifth,
.two-fifth,
.three-fifth,
.four-fifth {
  position: relative;
  float: none;
  margin-bottom: 20px; }

/* line 108, ../scss/_grid.scss */
.one-half {
  width: 100%; }

/* line 109, ../scss/_grid.scss */
.one-third {
  width: 100%; }

/* line 110, ../scss/_grid.scss */
.two-third {
  width: 100%; }

/* line 111, ../scss/_grid.scss */
.one-fourth {
  width: 100%; }

/* line 112, ../scss/_grid.scss */
.three-fourth {
  width: 100%; }

/* line 113, ../scss/_grid.scss */
.one-fifth {
  width: 100%; }

/* line 114, ../scss/_grid.scss */
.two-fifth {
  width: 100%; }

/* line 115, ../scss/_grid.scss */
.three-fifth {
  width: 100%; }

/* line 116, ../scss/_grid.scss */
.four-fifth {
  width: 100%; }

/* line 118, ../scss/_grid.scss */
.last {
  clear: right;
  margin-right: 0 !important; }

@media only screen and (min-width: 768px) {
  /* line 125, ../scss/_grid.scss */
  .one-half,
  .one-third,
  .two-third,
  .one-fourth,
  .three-fourth,
  .one-fifth,
  .two-fifth,
  .three-fifth,
  .four-fifth {
    position: relative;
    float: left;
    margin-right: 4%;
    margin-bottom: 0; }

  /* line 140, ../scss/_grid.scss */
  .one-half {
    width: 48%; }

  /* line 141, ../scss/_grid.scss */
  .one-third {
    width: 30.6667%; }

  /* line 142, ../scss/_grid.scss */
  .two-third {
    width: 65.3332%; }

  /* line 143, ../scss/_grid.scss */
  .one-fourth {
    width: 22%; }

  /* line 144, ../scss/_grid.scss */
  .three-fourth {
    width: 74%; }

  /* line 145, ../scss/_grid.scss */
  .one-fifth {
    width: 16.8%; }

  /* line 146, ../scss/_grid.scss */
  .two-fifth {
    width: 37.6%; }

  /* line 147, ../scss/_grid.scss */
  .three-fifth {
    width: 58.4%; }

  /* line 148, ../scss/_grid.scss */
  .four-fifth {
    width: 79.2%; }

  /* line 150, ../scss/_grid.scss */
  .last {
    clear: right;
    margin-right: 0 !important; } }
/* line 4, ../scss/base/_overrides.scss */
html {
  font-family: 14px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 12, ../scss/base/_overrides.scss */
body {
  color: #535353;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 160%; }

/* line 19, ../scss/base/_overrides.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 16, ../scss/_mixins.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

/* line 22, ../scss/_mixins.scss */
.clearfix:after {
  clear: both; }

/* line 23, ../scss/_mixins.scss */
.clearfix {
  zoom: 1; }

/* ---- Hidden Stuff Here ---- */
/* line 4, ../scss/base/_typography.scss */
a {
  color: #43759f;
  text-decoration: none;
  background: none;
  outline: none;
  cursor: pointer;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s; }
  /* line 12, ../scss/base/_typography.scss */
  a:hover {
    text-decoration: none;
    color: #1f3649; }
  /* line 17, ../scss/base/_typography.scss */
  a:focus {
    outline: thin dotted; }
  /* line 21, ../scss/base/_typography.scss */
  a:active, a:hover {
    outline: 0; }

@font-face {
  font-family: "Carto Gothic Bold";
  src: url('/fonts/CartoGothicStd-Bold.woff') format('woff'), url('/fonts/CartoGothicStd-Bold.ttf') format('truetype'), url('/fonts/CartoGothicStd-Bold.svg') format('svg'), url('/fonts/CartoGothicStd-Bold.eot') format('embedded-opentype'); }
/* line 38, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  color: inherit;
  line-height: 1.5em;
  text-rendering: optimizelegibility; }

/* line 45, ../scss/base/_typography.scss */
h1 small,
h2 small {
  font-weight: normal;
  color: #101010; }

/* line 51, ../scss/base/_typography.scss */
h1,
.h1 {
  font-size: 24px;
  margin-bottom: 12px; }

/* line 57, ../scss/base/_typography.scss */
h2,
.h2 {
  font-size: 18px;
  margin-bottom: 12px; }

/* line 63, ../scss/base/_typography.scss */
h3,
.h3 {
  font-size: 16px;
  margin-bottom: 10px; }

/* line 69, ../scss/base/_typography.scss */
h4,
.h4 {
  font-size: 14px;
  margin-bottom: 8px; }

/* line 75, ../scss/base/_typography.scss */
h5,
.h5 {
  font-size: 12px;
  margin-bottom: 6px; }

/* line 81, ../scss/base/_typography.scss */
h6,
.h6 {
  font-size: 11px;
  margin-bottom: 4px; }

/* line 87, ../scss/base/_typography.scss */
p,
ul,
ol,
dl,
table,
fieldset,
blockquote,
pre,
code {
  margin-bottom: 22px; }

/* line 103, ../scss/base/_typography.scss */
small {
  font-size: 80%; }

/* line 107, ../scss/base/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 115, ../scss/base/_typography.scss */
sup {
  top: -.5em; }

/* line 119, ../scss/base/_typography.scss */
sub {
  bottom: -.25em; }

/* line 123, ../scss/base/_typography.scss */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none; }

/* line 129, ../scss/base/_typography.scss */
mark {
  background-color: #ffff99;
  font-style: italic;
  font-weight: bold;
  color: black; }

/* line 136, ../scss/base/_typography.scss */
del {
  text-decoration: line-through; }

/* line 140, ../scss/base/_typography.scss */
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* line 146, ../scss/base/_typography.scss */
input,
select {
  vertical-align: middle; }

/* line 151, ../scss/base/_typography.scss */
strong,
th,
head td {
  font-weight: 600; }

/* line 157, ../scss/base/_typography.scss */
cite,
em {
  font-style: italic; }

/* line 162, ../scss/base/_typography.scss */
code,
pre {
  display: block;
  font-family: "Courier New", Courier, monospace;
  white-space: pre; }

/* line 169, ../scss/base/_typography.scss */
dfn {
  font-style: italic; }

/* line 173, ../scss/base/_typography.scss */
hr {
  display: block;
  border: 0;
  border-top: 1px solid #e5e5e5;
  margin: 10px 0;
  padding: 0;
  height: 1px; }

/* line 182, ../scss/base/_typography.scss */
::selection {
  background: #c4e3fb;
  color: white;
  text-shadow: none; }

/* line 188, ../scss/base/_typography.scss */
::-moz-selection {
  background: #c4e3fb;
  color: white;
  text-shadow: none; }

/* line 194, ../scss/base/_typography.scss */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="password"],
textarea {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

/* line 211, ../scss/base/_typography.scss */
ul {
  list-style-type: disc;
  margin-left: 1.5em; }

/* line 216, ../scss/base/_typography.scss */
ul li {
  margin-left: .85em; }

/* line 220, ../scss/base/_typography.scss */
ul ul {
  list-style-type: square; }

/* line 224, ../scss/base/_typography.scss */
ul ul ul {
  list-style-type: circle; }

/* line 228, ../scss/base/_typography.scss */
ol {
  list-style-position: outside;
  list-style-type: decimal;
  margin-left: 2.35em; }

/* line 234, ../scss/base/_typography.scss */
dt {
  margin-top: .8em;
  margin-bottom: .4em;
  font-weight: bold; }

/* line 240, ../scss/base/_typography.scss */
ol ol, ul ol {
  margin-left: 2.5em; }

/* line 244, ../scss/base/_typography.scss */
ul ol, ol ul, ol ol, ul ul {
  margin-bottom: 0; }

/* line 250, ../scss/base/_typography.scss */
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal; }

/* line 258, ../scss/base/_typography.scss */
q {
  quotes: none; }

/* line 262, ../scss/base/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

/* line 4, ../scss/base/_helpers.scss */
a img {
  border: none;
  vertical-align: bottom; }

/* line 9, ../scss/base/_helpers.scss */
img {
  display: inline-block;
  border: 0;
  width: auto\9;
  /* IE8 Fix */
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

/* line 18, ../scss/base/_helpers.scss */
img.scale {
  max-width: 100%;
  height: auto; }

/* line 23, ../scss/base/_helpers.scss */
.left {
  float: left; }

/* line 27, ../scss/base/_helpers.scss */
.right {
  float: right; }

/* line 31, ../scss/base/_helpers.scss */
.block {
  display: block; }

/* line 35, ../scss/base/_helpers.scss */
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline; }

/* line 41, ../scss/base/_helpers.scss */
.inline {
  display: inline; }

/* line 45, ../scss/base/_helpers.scss */
.strong {
  font-weight: bold; }

/* line 49, ../scss/base/_helpers.scss */
.italic {
  font-style: italic; }

/* line 53, ../scss/base/_helpers.scss */
.center-text {
  text-align: center; }

/* line 57, ../scss/base/_helpers.scss */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0;
  line-height: 0;
  font-size: 0; }

/* line 67, ../scss/base/_helpers.scss */
.caps, .allcaps, .smallcaps {
  letter-spacing: 0.1em; }

/* line 71, ../scss/base/_helpers.scss */
.allcaps {
  text-transform: uppercase; }

/* line 76, ../scss/base/_helpers.scss */
.smallcaps {
  font-variant: small-caps; }

/* line 81, ../scss/base/_helpers.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

/* line 3, ../scss/_test.scss */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table; }

/* line 9, ../scss/_test.scss */
.clearfix:after {
  clear: both; }

/* line 19, ../scss/_test.scss */
#main #content {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  background: #eaf9ff; }
/* line 24, ../scss/_test.scss */
#main #sidebar {
  width: 32.20339%;
  float: right;
  background: #fff0f0; }

/* line 30, ../scss/_test.scss */
#footer {
  clear: both; }
