

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

#header {
	
}

#main {

	#content {
		@include span(8);
		background: #eaf9ff;
	}
	
	#sidebar {
		@include span(4 at 9);
		background: #fff0f0;
	}
}

#footer {
	clear: both;
}


