.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

#header {
	background: red;
}

#main {
	@include span(8);
	background: #eaf9ff;
}

#sidebar {
	@include span(4 at 9); 
	background: #fff0f0;
}

#footer {
	clear: both;
}

.social-icons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-icons ul li {
  display: inline-block;
  margin-left: 5px;
}

.social-icons ul li img {
  width: 30px;
  border-radius: 50%;
}

.social-icons ul li img:hover {
  cursor: hand;
  cursor: pointer;
}

